<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="public/styles/style.css"> -->
    <link rel="stylesheet" type="text/css" href="public/styles/flex.css">
    <title>alexPetro: Full-Stack Developer</title>
</head>

<body>

    <section class="container">
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <div class="home">
            <div class="content">
                <div class="name">
                    <h1>Alex Petropoulos</h1>
                </div>
                <div class="tagline">
                    <h4>Full-Stack web Developer</h4>
                </div>
                <div class="line">
                    <hr>
                </div>
                <a class="btn" href="#">Continue</a>
            </div>
        </div>
    </section>
    <p>
        Bacon ipsum dolor amet venison turducken ball tip, ham hock shankle kevin frankfurter boudin burgdoggen
        ham
        biltong shoulder porchetta. Pork belly pork tenderloin beef strip steak brisket capicola leberkas swine
        ribeye ground round frankfurter pancetta. Tri-tip chuck doner salami filet mignon capicola buffalo
        kielbasa.
        Kevin shankle ham hock, filet mignon cow ham leberkas sausage pork loin ribeye biltong drumstick chicken
        picanha. Pig drumstick filet mignon tail pork chop tongue jowl pancetta pork belly meatloaf turkey.
        Picanha
        short ribs beef ham hock rump chislic landjaeger chicken turkey tenderloin venison shank meatball bacon
        doner. Doner pig beef ribs brisket venison ball tip tail strip steak capicola short ribs pork loin pork
        meatloaf chislic frankfurter.
    </p>
    <p>
        Turkey prosciutto rump, pancetta tenderloin beef ribs ball tip hamburger corned beef pork belly tri-tip.
        Shoulder tongue landjaeger, shankle bresaola sausage cow salami. Buffalo t-bone ball tip, tail hamburger
        shankle short ribs venison ribeye. Sausage porchetta shank andouille bacon burgdoggen boudin. Venison
        shankle tongue doner drumstick alcatra jowl. Meatloaf bacon venison, salami picanha brisket fatback
        chicken
        pork chop capicola. Pancetta pork belly turkey pork loin porchetta brisket.
    </p>
</body>

</html>